/* title */
html, body {
    margin-right: -15px;
    margin-left: -15px;
    padding: 0;
}

.mainsearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    height: 40px;
    width: 45vw;
}

button {
    height: 43px;

}

.title {
    padding-left: 25px;
}



h2 {
   font-family: 'Poppins', sans-serif;
    font-weight: 700;
   font-size: 40px;
    font-size: 3.0em;
   text-align: center;
   margin: 10px;
    color: rgba(60,84,127,1);
   text-transform: uppercase;
    font-style: italic;
}

header {
    padding-bottom: 5vh;
}

main {
    background-color: rgba(0,0,0,0.1);
}

body {
     margin: 15px;
    color: blue;
}

input {
    display: inline-block;
}


div.selectedControls {
		     display: flex;
             flex-direction: row;
}

div.normalControls {
		   display: none;
}

/* Photo tile - position and size will be given by PhotoGallery */
div.tile {
    backgroundColor: #eee;
    cursor: pointer;
    overflow: hidden;
    float: left;
    position: relative;
}

/* Tag styling */
p.tagText {
   left: 4px;
   top: 4px;
   zIndex: 2;
   background-color: blue;
   padding: 5px;
   border-radius: 5px;
   color: white;
   word-break: break-all;
}


img {
    display: block;
    padding: 15px;
}

/* so far nothing special when image selected */
img.normal {
}

img.selected {
}
